<h1>Recipes</h1>
<ul>
    <% @recipes.all.each do |recipe| %>
        <li>
            <%= link_to recipe.title, recipe_path(recipe) %> - 
            <%= pluralize(recipe.ingredients.count, "ingredient") %>
        </li>
    <% end %>
</ul>

<%= button_to "Add Recipe", new_recipe_path, method: :get %>